* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #2b2b2b;
    padding: 20px 0 ;
}
.container {
    max-width: 1480px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container h1,
.container li,
.container button {
    color: white;
    font-family: 'Space Mono', monospace;
}

.container button {
    background-color: #a259ff;
    padding: 10px 40px;
    border-radius: 20px;
    border: none;
    font-size: 18px;
}
.title {
    display: flex;
    align-items: center;
}

header ul li {
    list-style: none;
    display: inline;
    margin-right: 10px;
}

section {
    background-color: #2b2b2b;
}

section .container {
    justify-content: space-around;
}

.container h2 {
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 42px;
    letter-spacing: 2px;
}
section .container h3 {
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-weight: normal;
    letter-spacing: 1.5px;
    padding: 20px 0px 40px 0px;
}

form input {
    display: block;
    height: 46px;
    width: 330px;
    border-radius: 20px;
    border: 1px solid #858584;
    margin-bottom: 15px;
}

form input::placeholder {
    padding-left: 20px;
    font-family: 'Work Sans', sans-serif;
}

form .submit {
    background-color: #a259ff;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: normal;
    letter-spacing: 2px;
    border: none;
    font-size: 18px;
}

footer {
    background-color: #3b3b3b;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer .container {
    justify-content: space-around;
    align-items: flex-start;
}
footer .container ul li {
    list-style: none;
    color: #cccccc;
    padding-top: 10px;
}

footer .container h3 {
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-weight: normal;
    letter-spacing: 1.5px;
    padding: 10px 0;
}

footer .copy {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    color: #cccccc;
    padding-top: 10px;
}

footer p {
    font-family: 'Work Sans', sans-serif;
    color: #cccccc;
    padding-bottom: 10px;
}


